body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(222, 245, 247);
    color: #000000;
    text-align: justify;
}

header{
    background-color: #069c1a;
    color: #000000;
    padding: 20px;
    text-align: center;
}

nav{
    font-size: 20px;
    padding: 10px;
}
nav ul {
 list-style-type: none;
 margin: 0;
 text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #02c5e7;
    font-weight: bold;
}
nav ul li a:hover {
    color: #ffa908
}
main {
    padding: 20px;
}
h1,h2,h4{
    color: #ffffff
}
strong{
    color: #ffffff
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top:20px;
}
table, th, td{
    border: 1px solid #ac0d0d
}
th,td{
    padding: 10px;
    text-align: left;
}
th{
    background-color:#82a8d3;
}
img{
    width:400px;
    height: 400px;
    margin: auto;
    display: block;
}
footer{
    background-image: url(8f76b194-3d45-4189-9951-39c3026c6bce.jpg);
    background-size: cover;
    color:#000000;
    text-align:center;
    padding: 0px;

    bottom: 0px;
    width: 100%;
}
footer a{
    color: #f00;text-decoration: none;
}
footer {
    background-color: #6e3201;
}
footer a:hover{
    text-decoration: underline;
} 
body, header{
    background-image: url(8f76b194-3d45-4189-9951-39c3026c6bce.jpg);
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    margin: 0;}
    p{
        padding: 20px;
        font-size: 20px;
       
    }